@import '~normalize.css'
@import 'variables'

* 
  margin: 0
  padding: 0
  box-sizing: border-box


:root 
  font-family: sans-serif
  color: #ffffff


#root 
  min-height: 100vh
  background-color: #2b2b2b
